// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Georgia:400');

// // Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

// // Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;

// // Update some of Bulma's component variables
// $control-border-width: 2px;
// $input-background-color: $beige-lighter;
// $input-border-color: transparent;
// $input-shadow: none;

$font-serif: "Georgia", serif;

.main-title {
  font: bold 200% $font-serif;
  user-select: none;
}

.container {
    margin-bottom: 1em;
}

.food-entry {
    h2 {
        font-weight: bold;
    }

    h3 {
        font-weight: bold;
    }

    ul {
        margin-top: 0em;
    }

    // Food entry
    .food-listing {
        position: relative;
    }

    // Keep description hidden before JS loads
    ul > li > ul {
        display: none;
    }

    // Food entry description
    .food-descriptor {
        display: none;
        list-style: none;

        bottom: 0;
        border-radius: 20px;
        padding: 8px 15px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 25%;
        background-color: #EEE;
        position: absolute;

        :before {
            content: "";
            position: absolute;
            z-index: 0;
            bottom: 0;
            left: -7px;
            height: 20px;
            width: 20px;
            background: #EEE;
            border-bottom-right-radius: 15px;
        }

        :after {
            content: "";
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: -10px;
            width: 10px;
            height: 20px;
            background: white;
            border-bottom-right-radius: 10px;
        }
    }

    .food-listing:hover > .food-descriptor, .food-listing:active > .food-descriptor, .food-listing:focus > .food-descriptor {
        display: inline-block;
    }
}

.popup-note {
    font-size: 0.9em;
    font-style: italic;
}

// Bulma overrides
.content {
    li+li {
        margin: 0em;
    }

    ul ul {
        margin-top: 0em;
    }
}

.navbar-brand a {
    color: #4a4a4a;
}

// --- Hoverable list items

.listings-entry {

    .hover-listing {
        position: relative;
    }

    // Keep description hidden before JS loads (assume everyone has JS enabled)
    ul > li > ul {
        display: none;
    }

    .hover-descriptor {
        display: none;
        list-style: none;
    
        bottom: 0;
        border-radius: 20px;
        padding: 8px 15px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 25%;
        background-color: #EEE;
        position: absolute;
    
        :before {
            content: "";
            position: absolute;
            z-index: 0;
            bottom: 0;
            left: -7px;
            height: 20px;
            width: 20px;
            background: #EEE;
            border-bottom-right-radius: 15px;
        }
    
        :after {
            content: "";
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: -10px;
            width: 10px;
            height: 20px;
            background: white;
            border-bottom-right-radius: 10px;
        }
    }

    .hover-listing:hover > .hover-descriptor, .hover-listing:active > .hover-descriptor, .hover-listing:focus > .hover-descriptor {
        display: inline-block;
    }
}

// Table of contents

.page-toc {

    .toc-h2 {
        padding-left: 1.5em;
    }
}



// Import the rest of Bulma
@import url("https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css");