<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>yvonne chen - personal website</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/jquery.min.js"></script>
    <script src="/script.js"></script>
</head>

<!-- Menu bar -->
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="title navbar-item main-title" href="https://bulma.io">
            <a href="/">yvonne chen</a>
        </div>
    </div>
  
    <div class="navbar-menu is-active">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                home
            </a>
            <a class="navbar-item" href="/ducks">
                ducks
            </a>
            <a class="navbar-item" href="/games">
                game recs
            </a>
            <!-- Dropdown -->
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/seattle-food">
                    seattle food guide
                </a>
                <div class="navbar-dropdown is-boxed">
                    {% set s = get_section(path="seattle-food/_index.md") %}
                    {% for page in s.pages %}
                        <a class="navbar-item" href="/seattle-food/{{page.slug}}">
                            {{ page.title | lower }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- Body -->
<body>
    <section class="section">
        <!-- Page title -->
        <div class="container">
            <h2 class="title is-3">
                {% block title %} {% endblock %}
            </h2>
        </div>
        <!-- Main content -->
        <div class="container">
            {% block content %} {% endblock %}
        </div>
    </section>
</body>

</html>
