{% extends "base.html" %}

{% block title %}
    {{ section.title }}
{% endblock title %}

{% block content %}
    <p>
        This guide exists primarily as a reminder to my husband and I about what we've eaten and what we want to eat.
    </p>
    <p>
        </br>
        <ul>
            <li><b>Recommended:</b> a broad range from very good to downright amazing. Subtiers used where necessary</li>
            <li><b>Decent</b>: good, but not outstanding</li>
            <li><b>Not recommended:</b> your calories are best invested elsewhere</li>
        </ul>
    </p>
    <hr noshade>
    {% for page in section.pages %}
    <ul>
        <li>        
            <a href="/seattle-food/{{page.slug}}">{{ page.title }}</a>
        </li>
    </ul>
    {% endfor %}
{% endblock content %}